<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Host" value="mxdemo.ittrade.ru" />
    <add key="Port" value="8443" />
    <add key="Login" value="SBH8MJFJ" />
    <add key="Password" value="YFS76L" />
    <add key="ConsoleReadKey" value="true" />

    <add key="BrokerServerTimezone" value="Russian Standard Time" />

    <add key="MeasureStopFromSignalPrice" value="false" />
    <add key="MeasureProfitFromSignalPrice" value="false" />

    <add key="ConnectionAwaitingAttempts" value="5" />
    <add key="SecondsBetweenConnectionAwaitingAttempts" value="5" />

    <add key="OrderBookDepth" value="50" />

    <add key="ListenPortfolio" value="true" />
    <add key="ListenQuotes" value="false" />
    <add key="ListenTicks" value="true" />
    <add key="ListenBidAsk" value="false" />

    <add key="ServerLogFilePath" value="." />
    <add key="ServerLogLevel" value="5" />
    <add key="ClientLogFilePath" value="." />
    <add key="ClientLogLevel" value="5" />

    <add key="Portfolio" value="ST71321-RF-01" />
    <add key="Symbol" value="Si-9.15_FT" />
    <add key="Amount" value="1" />

    <add key="Interval" value="20" />
    <add key="Period" value="21" />
    <add key="StopPoints" value="10" />
    <add key="ProfitPoints" value="20" />

    <add key="MaFast" value="4" />
    <add key="MaSlow" value="7" />

    <add key="ExportOrdersOnExit" value="true" />
    <add key="ExportTradesOnExit" value="true" />
    <add key="ExportBarsOnExit" value="true" />

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>