<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Connection -->
    <add key="Host" value="mxdemo.ittrade.ru" />
    <add key="Port" value="8443" />
    <add key="Login" value="H0YBTEU4" />
    <add key="Password" value="T8351J" />
    <add key="ConnectionAwaitingAttempts" value="5" />
    <add key="SecondsBetweenConnectionAwaitingAttempts" value="5" />
    <!-- Listen -->
    <add key="OrderBookDepth" value="50" />
    <add key="ListenPortfolio" value="true" />
    <add key="ListenQuotes" value="false" />
    <add key="ListenTicks" value="true" />
    <add key="ListenBidAsk" value="false" />
    <!-- -->
    <add key="BrokerServerTimezone" value="Russian Standard Time" />
    <add key="MeasureStopFromSignalPrice" value="false" />
    <add key="MeasureProfitFromSignalPrice" value="false" />
    <!-- Настройки логов -->
    <add key="ServerLogFilePath" value="." />
    <add key="ServerLogLevel" value="5" />
    <add key="ClientLogFilePath" value="." />
    <add key="ClientLogLevel" value="5" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!-- Экспорт данных -->
    <add key="ExportBarsOnExit" value="true" />
    <add key="ExportSignalsOnExit" value="true" />
    <add key="ExportOrdersOnExit" value="true" />
    <add key="ExportTradesOnExit" value="true" />
    <add key="ExportDealsOnExit" value="true" />
    <add key="ExportIndicatorsOnExit" value="true" />
    <add key="SignalHub" value="true" />
    <!-- Экспорт данных -->
    <add key="ConsoleWaitStart" value="true" />
    <!-- Параметры счета -->
    <add key="Portfolio" value="ST78511-RF-01" />
    <add key="Symbol" value="Si-3.16_FT" />
    <add key="Amount" value="1" />
    <!-- Параметры бара -->
    <add key="Interval" value="30" />
    <add key="Period" value="12" />
    <!-- Параметры стратегии -->
    <add key="MaPeriod" value="12" />
    <add key="КоличествоУровней" value="4" />
    <add key="ШагУровней" value="40" />
    <!-- Параметры стопов -->
    <add key="StopPoints" value="10" />
    <add key="ProfitPoints" value="20" />
    <!-- Параметры стратегии 1 скользящих -->
    <add key="MaFast" value="4" />
    <add key="MaSlow" value="12" />
    <!-- -->

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>