<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
      <!-- Connection credentials -->
      <add key="Host" value="95.131.26.246"/>
      <add key="Port" value="8090"/>
      <add key="Login" value="ST30151"/>
      <add key="Password" value="39SWRK"/>
      <add key="BrokerServerTimezone" value="Russian Standard Time"/>

      <!-- Connection settings -->
      <add key="ConnectionAwaitingAttempts" value="5"/>
      <add key="SecondsBetweenConnectionAwaitingAttempts" value="1"/>
      
      <!-- Trading settings -->
      <add key="Portfolio" value="ST30151-RF-01"/>
      <add key="Symbol" value="RTS-12.12_FT"/>
      <add key="Amount" value="1"/>

      <!-- Bar request settings -->
      <add key="BarSymbol" value="RTS-12.12_FT"/>
      <add key="BarIntervalSeconds" value="3600"/>
      <add key="PullUpStopWithSmaPeriod" value="5"/>
      <add key="BarQuantity" value="19"/>

      <add key="StopLossPoints" value="150"/>
      <add key="TakeProfitPoints" value="50"/>

      <add key="OrderBookDepth" value="3"/>
      
      <add key="ListenPortfolio" value="true"/>
      <add key="ListenQuotes" value="true"/>
      <add key="ListenTicks" value="true"/>
      <add key="ListenBidAsk" value="true"/>

      <add key="ServerLogFilePath" value="C:\Logs\"/>
      <add key="ServerLogLevel" value="3"/>
      <add key="ClientLogFilePath" value="C:\Logs\"/>
      <add key="ClientLogLevel" value="2"/>

      <!-- Testing AppSettingsConfiguration settings -->
      <add key="SampleIntegerParameterKeyName" value="358"/>
      <add key="SampleStringParameterKeyName" value="Sample string"/>
      <add key="SampleGuid" value="88888888888888888888888888888888"/>
      <add key="SampleDecimalParameterKeyName" value="38,88"/>
      <add key="SampleBooleanParameterKeyName" value="True"/>
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
