<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Connection credentials -->
    <add key="Host" value="95.131.26.246"/>
    <add key="Port" value="8090"/>
    <add key="Login" value="ST30151"/>
    <add key="Password" value="39SWRK"/>
    <add key="BrokerServerTimezone" value="Russian Standard Time"/>

    <!-- Connection settings -->
    <add key="ConnectionAwaitingAttempts" value="2"/>
    <add key="SecondsBetweenConnectionAwaitingAttempts" value="1"/>
    <add key="OrderBookDepth" value ="50"/>

    <add key="ListenPortfolio" value="true"/>
    <add key="ListenTicks" value="true"/>
    <add key="ListenBidAsk" value="false"/>

    <!-- Strategies configuration prefixes -->
    <add key="Prefixes" value="RTSX,RTSZ, SiB"/>
    <add key="RTSX_Strategy_Id" value="1"/>
    <add key="RTSX_Strategy_Description" value="Break out RTS"/>
    <add key="RTSX_Strategy_Portfolio" value="BP12345-RF-01"/>
    <add key="RTSX_Strategy_Symbol" value="RTS-9.13_FT"/>
    <add key="RTSX_Strategy_Amount" value="15"/>

    <add key="RTSX_StopPointsSettings_Points" value="500"/>
    <add key="RTSX_StopPointsSettings_Trail" value="false"/>

    <add key="RTSX_ProfitPointsSettings_Points" value="1000"/>
    <add key="RTSX_ProfitPointsSettings_Trail" value="false"/>

    <add key="RTSX_OrderSettings_TimeToLive" value="86400"/>
    <add key="RTSX_StopLossOrderSettings_TimeToLive" value="3600"/>
    <add key="RTSX_TakeProfitOrderSettings_TimeToLive" value="1900"/>

    <add key="RTSX_BarSettings_Symbol" value="Si-12.13_FT"/>
    <add key="RTSX_BarSettings_Interval" value="3600"/>
    <add key="RTSX_BarSettings_Period" value="35"/>

    <add key="SiB_Strategy_Id" value="2"/>
    <add key="SiB_Strategy_Description" value="Break out Si"/>
    <add key="SiB_Strategy_Portfolio" value="BP12345-RF-01"/>
    <add key="SiB_Strategy_Symbol" value="Si-9.13_FT"/>
    <add key="SiB_Strategy_Amount" value="45"/>

    <add key="FakePositionPortfolio" value="ST12345-RF-01"/>
    <add key="FakePositionSymbol" value="RTS-9.13_FT"/>
    <add key="FakePositionAmount" value="55"/>

    <add key="SBPR_SBRF_Portfolio" value="ST88888-RF-01"/>
    <add key="SBPR_SBRF_Symbol" value="SBRF-9.13_FT"/>
    <add key="SBPR_SBRF_Amount" value="13"/>
    <add key="SBPR_SBRF_StopLossPoints" value="80"/>
    <add key="SBRF_SBPR_BarIntervalSeconds" value="12"/>
    <add key="SBPR_SBRF_PullUpStopWithSmaPeriod" value="8" />
    <add key="SBPR_SBRF_BarIntervalSeconds" value="900"/>
    <add key="SBPR_SBRF_BreakOutPeriod" value="25"/>
    <add key="SBPR_SBRF_TakeProfitPoints" value="100"/>
    <add key="SBPR_SBRF_CancelOrderOnPriceChange" value="20"/>

    <add key="SBRF_SBPR_Portfolio" value="ST88888-RF-01"/>
    <add key="SBRF_SBPR_Symbol" value="SBPR-9.13_FT"/>
    <add key="SBRF_SBPR_Amount" value="10"/>
    <add key="SBRF_SBPR_InputChannelPeriod" value="112"/>
    <add key="SBRF_SBPR_OutputChannelPeriod" value="95"/>

      <add key="SSTR_LeftLeg_Strategy_Id" value="81,82,83"/>
      <add key="SSTR_LeftLeg_Strategy_Description" value="Arbitrage spread left leg"/>
      <add key="SSTR_LeftLeg_Strategy_Portfolio" value="BP12345-RF-01"/>
      <add key="SSTR_LeftLeg_Strategy_Symbol" value="RTS-12.13_FT,MIX-12.13_FT,GOLD-12.13_FT"/>
      <add key="SSTR_LeftLeg_Strategy_Amount" value="5,3,8"/>

      <add key="SSTR_RightLeg_Strategy_Id" value="91,92,93"/>
      <add key="SSTR_RightLeg_Strategy_Description" value="Arbitrage spread right leg"/>
      <add key="SSTR_RightLeg_Strategy_Portfolio" value="BP12345-RF-01,BP12345-RF-02,BP12345-RF-03"/>
      <add key="SSTR_RightLeg_Strategy_Symbol" value="Si-12.13_FT,Eu-12.13_FT,VTBR-12.13_FT"/>
      <add key="SSTR_RightLeg_Strategy_Amount" value="25,20,50"/>

      <add key="SSTR_FairPrice" value="1.12"/>
      <add key="SSTR_SellAfter" value="1.28"/>
      <add key="SSTR_BuyBefore" value="0.91"/>

      <!-- Testing AppSettingsConfiguration settings -->
    <add key="SampleIntegerParameterKeyName" value="358"/>
    <add key="SampleStringParameterKeyName" value="Sample string"/>
    <add key="SampleGuid" value="88888888888888888888888888888888"/>
    <add key="SampleDecimalParameterKeyName" value="38,88"/>
    <add key="SampleBooleanParameterKeyName" value="True"/>
  </appSettings>
</configuration>