<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Host" value="mxdemo.ittrade.ru"/>
    <add key="Port" value="8443"/>
    <add key="Login" value="SBH8MJFJ"/>
    <add key="Password" value="YFS76L"/>
    <add key="BrokerServerTimezone" value="Russian Standard Time"/>
    <add key="MeasureStopFromSignalPrice" value="false"/>
    <add key="MeasureProfitFromSignalPrice" value="false"/>
    <add key="ConnectionAwaitingAttempts" value="5"/>
    <add key="SecondsBetweenConnectionAwaitingAttempts" value="5"/>
    <add key="OrderBookDepth" value="50"/>
    <add key="ListenPortfolio" value="true"/>
    <add key="ListenQuotes" value="true"/>
    <add key="ListenTicks" value="true"/>
    <add key="ListenBidAsk" value="true"/>
    <add key="PriceShift" value="30"/>
    <add key="Seconds" value="30"/>
    <add key="PriceSpan" value="50"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>

    <add key="ExportOrdersOnExit" value="true" />
    <add key="ExportTradesOnExit" value="true" />
    <add key="ExportBarsOnExit" value="true" />

    <add key="Interval" value="3600" />
    <add key="Period" value="3" />

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
