<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Host" value="127.0.0.1"/>
    <add key="Port" value="8090"/>
    <add key="Login" value="User"/>
    <add key="Password" value="P@ssw0rd"/>
    
    <add key="BrokerServerTimezone" value="Russian Standard Time"/>

    <add key="MeasureStopFromSignalPrice" value="false"/>
    <add key="MeasureProfitFromSignalPrice" value="false"/>

    <add key="ConnectionAwaitingAttempts" value="5"/>
    <add key="SecondsBetweenConnectionAwaitingAttempts" value="5"/>

    <add key="OrderBookDepth" value="50"/>

    <add key="ListenPortfolio" value="true"/>
    <add key="ListenQuotes" value="true"/>
    <add key="ListenTicks" value="true"/>
    <add key="ListenBidAsk" value="true"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
